html {
  margin-bottom: 50px;
}

body {
  font-family: 'Amaranth', sans-serif;
}

#logo-header:hover {
  opacity:0.7;
}

.img-thumbnail {
  width: 500px;
  border: none;
}

/*.img-thumbnail:hover {
  opacity:0.7;
}*/

.individualPostColumn {
  margin: auto;
  width: 50%;
}

.individualPostHeader {
  text-align: center;
}

.jumbotron-custom {
  text-align: center;
  padding: 30px !important;
  margin-bottom: 0px;
  background-color: #CCF5EB;
}

.navbar {
  background-color: #E6FAF5;
  border: none;
}

#logo-header {
  width: 200px;
}
#indexPage {
  text-align: center;
}
ul {
  text-size: 20px;
}


.centerize {
  text-align: center;
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
  color: gray;
  text-decoration: none;
}

.opacity-07:hover {
  opacity: 0.7;
}
