{{outlet}}

<div class="container">
  <div class="individualPostColumn">
    <div class="individualPostHeader">
      <h1>About Us</h1>
      <hr>
      <img src="assets/images/epicodus-logo.png" alt="epicodus logo">
      <hr>
      <p>This site is managed by Leah Klamkin and Brian Lau. We are two aspiring web devs currently enrolled at Epicodus in Portland, Oregon.</p>
      <p>Lorem ipsum dolor sit amet, turpis nullam. Nunc quis duis eu, nullam aliquam. Wisi fames viverra netus purus vel qui, ultrices eu amet mollis. Id sodales non nec. Nec vivamus nulla erat, pede nec, erat fermentum mi quam cras diam sapien, nisl non ultrices integer lectus taciti arcu, nec vivamus ipsum. Est vel a accumsan est egestas, eros dolor felis id ut duis nullam, dictum et aenean posuere class, id consectetuer euismod ut suspendisse. Nullam donec amet pretium cras massa, sed viverra quis sapien. Duis eleifend duis at. Fugit ipsum blandit ut ut nostrud, aliquet enim turpis tellus laoreet in inceptos, non natoque.</p>
    <p> Leo sem sed metus. Varius amet a, magna libero. Tempus sit, at quis nulla pede aenean cubilia a, mattis cum tempus arcu phasellus tempus nunc, molestie et accumsan urna nulla viverra, viverra sapien morbi id feugiat volutpat a. Wisi placerat viverra condimentum in integer, ac suspendisse ultrices nulla, mauris risus urna pede sodales mauris. Lacus ultricies curabitur dolor ullamcorper purus.</p>
  <p>Urna orci orci pede venenatis, porttitor eros dis, diam sit non vitae culpa neque, metus vel potenti quis vivamus lectus vestibulum, per malesuada condimentum vitae. Erat sed aliquam ut mauris sagittis, in eget mi urna, nec scelerisque vivamus torquent donec rutrum pharetra. Tincidunt posuere risus vitae penatibus, ut nulla varius nam nam feugiat vel, natoque cursus. Commodo vitae neque etiam id sem, felis sed, at massa porttitor veritatis. Est luctus nunc aliquam non. Aliquam dapibus venenatis ridiculus, dui aliquet euismod, pellentesque suspendisse mauris orci hendrerit neque, parturient sit pede sit. Eu elit tempus ridiculus massa nec, fusce dui turpis pellentesque morbi consectetuer. Et scelerisque in sapien nec, ut justo fusce neque luctus, donec augue nam massa, donec aliquam quisque ut. Aliquet vitae fusce tempus, in gravida libero et tortor, facilisis quisque sollicitudin elit luctus proin aliquam, vestibulum vestibulum augue.</p>
<p>Vel tristique, amet felis. Vitae praesent, maecenas lacus dolor ante. In vel et gravida etiam, risus quis vel velit dui vehicula praesent, posuere nulla mi architecto per, mauris sodales consectetuer faucibus, id non aenean. Turpis rhoncus, metus quis nec amet neque laoreet tempus, et quis eros, auctor quis scelerisque commodo. Lectus sed auctor dolor lobortis congue et. Quisque at fringilla natoque odio, penatibus dolor donec felis. Pellentesque accumsan, ut eget, maecenas arcu velit imperdiet sunt orci, wisi rutrum natoque ipsum consequat, velit eros vehicula varius. Aenean nam. Dictumst tincidunt et integer, nonummy dui aliquam, tincidunt ligula in felis adipiscing in, soluta volutpat vel. Tincidunt donec a dui, in convallis viverra, eget eu ipsum odio, cras eleifend mattis, mauris pede.</p>
    </div>
  </div>
</div>
