{{outlet}}

<div class="container">
  <div class="individualPostColumn">
    <div class="individualPostHeader">
      <h1>Contact Us</h1>
      <hr>
      <h4>We'd love to hear from you!</h4>
      <br><a href="mailto:email@email.com"><button class="btn-lg btn btn-success">Send us an email</button></a>
    </div>
  </div>
</div>
