{{outlet}}

<div class="container">
  <div id="individualPostColumn">
    <div id="individualPostHeader">
      <h1>Contact Us</h1>
      <hr>
      <h4>We'd love to hear from you!</h4>
      <br><a href="mailto:email@email.com"><button class="btn btn-success">Send us an email</button></a>
    </div>
  </div>
</div>
