{{outlet}}
<div class="container">
<!-- <form action="mailto:lklamkin@gmail.com" method="post">

  <label for="name">Your Name</label>
  <input class="form-control" type="text">

  <label for="message">Message</label>
  <textarea rows="3" class="form-control" type="text"></textarea>

  <label for="email">Your Email</label>
  <input class="form-control" type="email">
  <br>
  <button name="submit" class="btn btn-success">Send</button>
</form> -->

<a href="mailto:youremail@email.com"><button class="btn btn-success">Send us an email</button></a>
</div>
