<div class="container">
  {{#each model.posts as |post|}}
    {{post-tile post=post saveComment="saveComment" destroyComment="destroyComment" update="update" destroyPost="destroyPost"}}
  {{/each}}
</div>



<!-- {{new-comment saveComment="saveComment"}} -->
