{{outlet}}

<div class="container">
  <div id="individualPostColumn">
    <div id="individualPostHeader">
      <h1>Search Results</h1>
      <hr>
      <h4>Coming soon!</h4>
    </div>
  </div>
</div>
